{% extends 'base.html' %}

{% block content %}
<h1>Articles</h1>
{% for article in articles %}
<div class="card">
  <div class="card-header">
    <span class="font-weight-bold">{{ article.title }}</span> &middot;
    <span class="text-muted">by {{ article.author }} | {{ article.created_at }}</span>
  </div>
  <div class="card-body">
    {{ article.text }}
  </div>
  <div class="card-footer text-center text-muted">
    <a href="{% url 'article_edit' article.pk %}">Edit</a> |
    <a href="{% url 'article_delete' article.pk %}">Delete</a>
  </div>
</div>
<br>
{% endfor %}

{% if is_paginated %}
<nav aria-label="Page navigation conatiner">
  <ul class="pagination justify-content-center">
  {% if page_obj.has_previous %}
    <li class="page-item active">
    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
    </li>
    {% else %}
  {% endif %}
  {% for i in paginator.page_range %}
    {% if page_obj_number == i %}
    <li class="page-item active">{{ i }}</li>
    {% else %}
    <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
  <li class="page-item active">
    <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
  </li>
  {% else %}
  {% endif %}
</ul>
</nav>
{% endif %}
{% endblock %}